//color
$color-red: #ff0000;
$color-red-light: rgba($color-red, 0.7);
$color-blue: #0000ff;
$color-blue-light: rgba($color-blue, 0.7);
$color-orange: #ffa500;
$color-orange-light: rgba($color-orange, 0.7);
$color-green: #008000;
$color-green-light: rgba($color-green, 0.7);
$color-white: #ffffff;
$color-black: #000000;
$color-black-light: rgba($color-black, 0.7);
$color-gray: #808080;
$color-gray-light: rgba($color-gray, 0.7);
$color-cerulean: #009aee;
$color-transparent: transparent;
