//font-size
$font-10: 10px;
$font-11: 11px;
$font-12: 12px;
$font-14: 14px;
$font-15: 15px;
$font-18: 18px;
$font-20: 20px;
$font-28: 28px;
$font-48: 48px;

//font-weight
$font-bold: bold;
$font-bolder: bolder;

//font-color
$font-red: #ff0000;
$font-red-light: #ff4b4b;
$font-blue: #0000ff;
$font-blue-light: #00a6ff;
$font-orange: #ffa500;
$font-orange-light: #ffc800;
$font-green: #008000;
$font-green-light: #00ad00;
$font-white: #ffffff;
$font-black: #000000;
$font-gray: #808080;
$font-gray-light: #b6b6b6;
$font-transparent: transparent;
